:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --text-color: #000000;
    --link-color: #000000;
    --button-color: #A32035;
    --link-hover-color: #FFC629;
    --MVHS-red: #ed2943;
    --MVHS-gold: #fec72e;
}

.dark-mode {
    --primary-color: #1a3e6b;
    --secondary-color: #333;
    --text-color: #f4f4f4;
    --link-color: #1a3e6b;
    --link-hover-color: #225d98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Header Styles */
.site-header {
    background-color: var(--primary-color);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 2px solid var(--button-color);
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mvhs-logo {
    width: 90px;
    height: auto;
}

.mvhs-text {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--button-color);
    text-align: center;
}

.nav-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-button {
    background-color: var(--button-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: var(--link-hover-color);
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 0.3s;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
}

.project,
.project-reverse {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
}

.project-reverse {
    flex-direction: row-reverse;
}

.project-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    padding: 20px;
}

.project-text h2 {
    font-size: 28px;
}

.project-text p {
    font-size: 20px;
    line-height: 1.5;
}

.project-image,
.project-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img,
.project-video video {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.project-image:hover img,
.project-video:hover video {
    transform: scale(1.02);
    transition: ease-in-out 0.3s;
}

.project-note-top {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.project-note-bottom {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}






.about-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.about,
.about-reverse {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary-color);
}

.about-reverse {
    flex-direction: row-reverse;
}

.about-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 30px;
}

.about-text h2 {
    font-size: 28px;
    border-bottom: 4px solid var(--button-color);
    padding-bottom: 10px;
}

.about-text p {
    font-size: 20px;
    line-height: 1.5;
}

.about-image,
.about-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img,
.about-video video {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    border-radius: 30px;
}

.about-image:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.3s;
}

.about-note-top {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 25px;
}

.hero {
    height: 500px;
    background: linear-gradient(
        120deg,
        var(--MVHS-red)  0%,
        var(--MVHS-gold) 100%
    );
      clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    0 100%
    );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    position: relative;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: heavy;
    opacity: 0.75;
}

.hero-content button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 15px 200px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
}

.hero-content button:hover {
    background-color: var(--link-hover-color);
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 0.3s;
}

.typed-wrap {
  display: inline-block;
  min-width: 11ch;
}

.hero h1 {
  min-height: 1.3em;
}


.home-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.home,
.home-reverse {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary-color);
}

.home-reverse {
    flex-direction: row-reverse;
}

.home-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: top;
    padding: 30px;
}

.home-text h2 {
    font-size: 40px;
    border-bottom: 4px solid var(--button-color);
    padding-bottom: 10px;
    font-weight: bold;
}

.home-text p {
    font-size: 33px;
    line-height: 1.5;
}

.home-image,
.home-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img,
.home-video video {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    border-radius: 30px;
}

.home-image:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.3s;
}

.home-note-top {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 25px;
}

.scroll-content-LR{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    transform: translateY(-22.5%)rotate(1.8882deg)
}

.scroll-content-RL{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    transform: translateY(-22.5%) rotate(-1.8882deg)
}

.gradient-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.gradient-section {
    height: 150px;
    background: linear-gradient(
        120deg,
        var(--MVHS-red)  0%,
        var(--MVHS-gold) 100%
    );
      clip-path: polygon(
        100% 50px,
        0 0,
        0 calc(100% - 50px),
        100% 100%
        
    );
}

.gradient-section-reverse{
    height: 150px;
    background: linear-gradient(
        120deg,
        var(--MVHS-red)  0%,
        var(--MVHS-gold) 100%
    );
      clip-path: polygon(
        0 50px,
        100% 0,
        100% calc(100% - 50px),
        0 100%
        
    );
    

}

.gradient-section-bottom{
    height: 400px;
    background: linear-gradient(
        120deg,
        var(--MVHS-red)  0%,
        var(--MVHS-gold) 100%
    );
      clip-path: polygon(
           0 100%,
        100% 100%,
        100% 50px,
        0 0
        
    );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content {
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    position: relative; 
}

.bottom-content h1 {
    font-size: 48px;
    margin-bottom: 5px;
}

.bottom-content p {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: heavy;
    opacity: 0.75;
}

.bottom-content button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 15px 200px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
}

.bottom-content button:hover {
    background-color: var(--link-hover-color);
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 0.3s;
}








.site-footer {
    background-color: var(--button-color);
    padding: 20px;
    text-align: center;
    width: 100%;
}






















@media (max-width: 1000px) {

    .hero-content button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 15px 100px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
    }

    .bottom-content button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;   
    }

    .projects-container {
        padding: 20px;
    }

    .project,
    .project-reverse,
    .about,
    .about-reverse,
    .home,
    .home-reversex  
    {
        flex-direction: column;
        gap: 10px;
    }

    .project-text {
        text-align: center;
    }

    .scroll-content-LR{
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
        position: relative;
        transform: translateY(-22.5%)rotate(5.6646deg)
    }

    .scroll-content-RL{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
        position: relative;
        transform: translateY(-22.5%) rotate(-5.6646deg)
    }

}

@view-transition {
    navigation: auto;
}

::view-transition-group(page-content) {
    animation-duration: 1s;
    animation-timing-function: ease;
}

::view-transition-old(page-content) {
    animation-name: slide-out;
}

::view-transition-new(page-content) {
    animation-name: slide-in;
}

main {
    view-transition-name: page-content;
}

@keyframes slide-out {
    to {
        translate: -100vw;
    }
}

@keyframes slide-in {
    from {
        translate: 100vw;
    }
}