:root{
    --primary-color: #EDEDED;
    --secondary-color: #28469E;
    --text-color: #A32035;
    --link-color: #A32035;
    --link-hover-color: #1a3e6b;
}

.dark-mode{
    --primary-color: #1a3e6b;
    --secondary-color: #333;
    --text-color: #f4f4f4;
    --link-color: #1a3e6b;
    --link-hover-color: #225d98;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--primary-color);
    color: var(--text-color);
}

a{
    text-decoration:none;
    color: var(--link-color);
}

.nav-links{
    align-items: right;
    display: flex;
    margin-right: 20px;
    padding: 10px;
    
}

.nav-links a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
},

.site-header {
    background-color: #225d98;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.mvhs-logo {
    width: 50px;
    height: auto;
}

.mvhs-text {
    font-size: 24px;
    color: var(--;
    margin-left: 10px;
}

.home-link, .about-link, .project-link, .contact-link{
    background-color: var(--secondary-color);
    color: var(--text-color);
}







